/*@font-face {*/
    /*font-family: Lato;*/
    /*src: url('https://thuongmaibrvt.github.io/nhacchonloc/fonts/times-new-roman-400.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato;*/
    /*src: url('https://thuongmaibrvt.github.io/nhacchonloc/fonts/Lato-Regular.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato Italic;*/
    /*src: url('https://thuongmaibrvt.github.io/nhacchonloc/fonts/Lato-Italic.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato Bold;*/
    /*src: url('https://thuongmaibrvt.github.io/nhacchonloc/fonts/Lato-Bold.ttf');*/
/*}*/

html { overflow-y: scroll; }

body {
    background: #444 url(bg.jpg) repeat 0 0 scroll;
}

#download{
    position:absolute;
    top:132px;
    left:30px;
    text-decoration:none;
    font-size:12px;
    color:#999;
    font-family:'Times New Roman', arial, sans-serif;
}

#download:hover{
    color:#fff;
}
